<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Inteligentny piec typu Maniek</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->


  </head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bombolinka</a>
  <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
  <!--<ul class="navbar-nav px-3">-->
    <!--<li class="nav-item text-nowrap">-->
      <!--<a class="nav-link" href="#">Sign out</a>-->
    <!--</li>-->
  <!--</ul>-->
    <!--<div>-->
        <!--<input type="button" id="buttonId" name="_mail" value="Test">-->
    <!--</div>-->
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Something else
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">-->
        <!--<h1 class="h2">Sterownik pieca</h1>-->
        <!--<div class="btn-toolbar mb-2 mb-md-0">-->
          <!--<div class="btn-group mr-2">-->
            <!--<button class="btn btn-sm btn-outline-secondary" id="buttonId">Test</button>-->
            <!--&lt;!&ndash;<button class="btn btn-sm btn-outline-secondary">Export</button>&ndash;&gt;-->

            <!--&lt;!&ndash;<form action="#" method="post">&ndash;&gt;-->
             <!--&lt;!&ndash;<input type="submit" class="btn" value="value" name="mybtn">&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->


          <!--</div>-->
          <!--&lt;!&ndash;<button class="btn btn-sm btn-outline-secondary dropdown-toggle">&ndash;&gt;-->
            <!--&lt;!&ndash;<span data-feather="calendar"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;This week&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Data i czas odczytu</th>
            <th>Nazwa czujnika</th>
            <th>Wartość</th>
          </tr>
          </thead>
          <tbody>
           {% for reading in readings %}
          <tr>
            <td>{{time|date:"d.m.Y  H:i:s"}} </td>
            <td>{{reading.sensor_name}} </td>
            <td>{{reading.value}} {{reading.unit}}</td>
          </tr>
          {%endfor%}
          </tbody>
        </table>
      </div>
      <canvas class="my-4" id="coChart" width="700" height="300"></canvas>
      <canvas class="my-4" id="outChart" width="700" height="300"></canvas>
    </main>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="../../../../assets/js/vendor/popper.min.js"></script>-->
<!--<script src="../../../../dist/js/bootstrap.min.js"></script>-->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script language="JavaScript">

</script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
      feather.replace()
    </script>

<!-- Graphs -->
<script>
  {% block javascript %}
  var endpoint = '/temo/chart/data/'
  var chart_data = []
  $.ajax({
    type: 'GET',
    url: endpoint,
    success:function(data){
      chart_data = data
      console.log(data)

      var ctx = document.getElementById("coChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: chart_data.date_time,
          datasets: [
            {
            label: "Temp. piec",
            data: chart_data.heater_temp,
            lineTension: 0.4,
            backgroundColor: 'transparent',
            borderColor: 'red', //'#ff7bff',
            borderWidth: 1,
            pointBackgroundColor: 'red'
            },
            {
            label: "Temp. boiler",
            data: chart_data.boiler_temp,
            //lineTension: 0.4,
            backgroundColor: 'transparent',
            borderColor: 'green', //'#00ff00',
            borderWidth: 1,
            pointBackgroundColor: 'green'
            }
          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }],
            xAxes: [{
                type: 'time',
                time: {
                    displayFormats: {
                        'millisecond': 'HH:mm',
                        'second': 'HH:mm',
                        'minute': 'HH:mm',
                        'hour': 'HH:mm',
                        'day': 'HH:mm',
                        'week': 'HH:mm',
                        'month': 'HH:mm',
                        'quarter': 'HH:mm',
                        'year': 'HH:mm',
                      }
                },
                distribution: 'series'
            }]
          },
          legend: { display: true, },
          mode : 'index',
          elements: { point: { radius: 0 } }
        }
      });

      var ctx2 = document.getElementById("outChart");
      var myChart = new Chart(ctx2, {
        type: 'line',
        data: {
          labels: chart_data.date_time,
          datasets: [
            {
            label: "Temp. zew.",
            data: chart_data.outside_temp,
            lineTension: 0.4,
            backgroundColor: 'transparent',
            borderColor: 'blue', //'#007bff',
            borderWidth: 1,
            pointBackgroundColor: 'blue'
            },

          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }],
            xAxes: [{
                type: 'time',
                time: {
                    displayFormats: {
                        'millisecond': 'HH:mm',
                        'second': 'HH:mm',
                        'minute': 'HH:mm',
                        'hour': 'HH:mm',
                        'day': 'HH:mm',
                        'week': 'HH:mm',
                        'month': 'HH:mm',
                        'quarter': 'HH:mm',
                        'year': 'HH:mm',
                      }
                },
                distribution: 'series'
            }]
          },
          legend: { display: true, },
          mode : 'index',
          elements: { point: { radius: 0 } }
        }
      });


    }
  })



  var foo = 0
  $('#buttonId').click(function() {
    $.ajax({
        url: '/temo/on_click/',
        method: 'POST', // or another (GET), whatever you need
        data: {
            name: 'value', // data you need to pass to your function
            click: true
        }
        //success: function (data) {
            //foo: 0
            // success callback
            // you can process data returned by function from views.py
        //}
    });
  });

  {% endblock %}
</script>

</body>


</html>



